<span class="page-title">PS3 Solutions</span>
<div class="answer-block">
  <ul>
    <li><a href="/pgdump.txt">Latest database dump file</a></li>
    <li><a href="/ps3/deploy_log.txt">Deployment Log</a></li>
    <li><a href="http://vgl-ait.org/redmine/projects/web16-13?jump=welcome">Issue Tracker- Redmine</a></li>
    <li><a href="https://ci.vgl-ait.org/jenkins/job/WAE-2016/job/web13/">Continuous Integration - Jenkins</a></li>

  </ul>
</div>

<h1> AIT EVENTS PLAN</h1>

<div class="answer-block">
  <h2> 1(a) </h2>
  <p>
    One of the main things people benefit from is that they get to know about all the activities taking place inside the
    community which is AIT in our case. It also deals with some level of automation wherein people had to previously
    create an even and then send out additional emails related to the event or do it manually by print in bulletin
    boards. For example we can consider a cultural event which is scheduled on a particular date and it requires
    volunteers, this call for volunteers again has to be done separately by email or manually by paper. This process can
    be automated in our system wherein we have an option directly after the creation of an event to call for volunteers.
  </p>
  <h2> 1(b) </h2>
  <p>We want people to think of our service as the most optimal one in AIT.</p>
  <h2> 1(c) </h2>
  Our users include:
  <ul>
    <li>Students</li>
    <li>Faculty</li>
  </ul>
  <br>
  Different types of privileges include:
  <dl>
    <dt>Users</dt>
    <dd>-People who can view the events, participate or volunteer in particular event, and create public events.</dd>
    <dt>Administrators</dt>
    <dd>- People who have complete access over the application.</dd>
    <dt>Admin with limited access(SU Committee Heads)</dt>
    <dd>-People who has access to particular group events.</dd>
  </dl>
  <h2> 1(d).</h2>
  <p>
    Ideally a smartphone user must be allowed to create events from his device and also receive notifications about the
    various events taking place.
  </p>
</div>

<div class="answer-block">
  <h2> 2. </h2>
  <ul>
    <li><%= link_to "Profile 1", assignments_ps3_profile1_path %></li>
    <li><%= link_to "Profile 2", assignments_ps3_profile2_path %></li>
    <li><%= link_to "Profile 3", assignments_ps3_profile3_path %></li>
  </ul>
</div>

<div class="answer-block">
  <h2> 3. </h2>
  <p>
    Suppose a normal student with basic privileges in AIT has an interesting idea for an event. He can then login to our
    service and then create the event with a proper name as well as a description for it. The user with admin privileges
    can then decide whether to approve the event or reject it.
  </p>

  <p>
    Other normal users can log in and view all the events. If they are interested in any particular event they can learn
    more about the event as well as set up personalized email notifications for the events they are interested in.
  </p>

  <p>
    The user with administrative privileges can monitor various events. For example - The SU president will be the
    administrator and will have complete access over the events. He can also create events for all the official events
    happening in the university.
  </p>

  <p>
    As the head of SU committee, the user can create events for his committee. Under the event, he can also send
    invitations, calls for volunteers and provide updates for the event.
  </p>

  <p>
    Other users who are the faculty can also view different events happening in the university and they can also set up
    notifications for the events. For example - Any Phd thesis happening in the university.
  </p>
</div>

<div class="answer-block">
  <h2>4. Offline alternatives </h2>
  <p>Offline alternatives to the event management app would be a personal diary to keep track of one’s events and
    sending out invitations via post for the events.
  <p>
</div>

<div class="answer-block">
  <h2> 5. Online alternatives </h2>
  <dl>
    <dt>Google calendar</dt>
    <dd>Google calendar has excellent feature of creating events and sending out invites. It also allows users to keep
      track of all the events in a particular time period (day, month, year). Similarly, a Google calendar can be
      created for a particular organization so that all the events of the organization can be viewed in one place.
    </dd>
    <dt>Event Pop! , Eventbrite</dt>
    <dd>These are event management web applications especially designed for companies and charity organizations. The
      main highlights of these apps are the multi-language support, feature of selling tickets for the event, sending
      out invitations and tracking the number of attendants for the events. The events can also be categorized so users
      can easily browse through their events of interests. These apps even shows recommendations based on the user’s
      previous activities.However, admin approval is required for creating the events and full company details has to be
      provided to sign up.
    </dd>
    <dt>Facebook events</dt>
    <dd>Facebook also provides the functionality of creating an event page and send out invitations for the event using
      facebook or even through email. It can also keep track of the people who have accepted the invitations. It also
      allows updates in the event by posting the photos of the events. It basically creates a facebook profile for the
      event.
    </dd>
  </dl>
</div>

<div class="answer-block">
  <h2> 6. Magnet Content </h2>
  <p>
    The initial content of the page will consist of the calendar that will show all the events of AIT in the current
    month. The AITians will sign up to our system as users. The content of this site is basically the events’
    description. The events will be created by admin(SU president), committee heads and the users. Thus, all the content
    is mainly the description provided by the users.
  </p>
</div>

<div class="answer-block">
  <h2>7. DNS </h2>
  <p>
    The domain aitevents.in.th seems to be available. The cost for registering the domain for 1 year is about 856 baht.
    The cost for resgistering as well as hosting the domain is high almost 4,708 baht.
    We can use THNIC to register our domain as we are only interested in making it available in Thailand in Ait at the
    start. We can use other sites later to register our domain outside Thailand.
  </p>
</div>

<div class="answer-block">
  <h2> 8. INTELLECTUAL PROPERTY RIGHTS </h2>
  <p>
    As developers our intellectual property rights extend to the source code and also the whole application developed.
    As we are launching the first product on a small scale it would be feasible to have property rights as this allows
    us to reuse the application or the source code for future products. Any designs or images used in building the
    application are also our property.
  </p>
  <p>
    The users of the system with different privileges hold intellectual rights to only the content they create. They
    only have rights over the different events created and do not own any rights to the application itself.
  </p>
  <p>
    We also limit our liability using different disclaimers like
  <ul>
    <li>DISCLAIMERS ON COPYRIGHTED CONTENT - WE DO NOT TAKE RESPONSIBILITY FOR ANY COPYRIGHTED INFORMATION POSTED IN
      VARIOUS EVENTS. THE OWNER OF THE EVENT IS THE ONE WHO IS LIABLE.
    </li>
    <li>DISCLAIMERS ON INFORMATION - WE ARE NOT RESPONSIBLE IN CHECKING THE AUTHENTICITY OF THE INFORMATION POSTED IN
      ANY EVENT.
    </li>
  </ul>
  </p>
</div>

<style>
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  .answer-block{
    margin: 30px 0;
    padding-bottom: 20px;
  }

  p{
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .answer-block p, .answer-block {
    font-size: 15px !important;
  }

  ul{
    margin: 5px 10px;
    font-size: 15px !important;
  }

  dl{
    margin: 5px 33px;
    font-size: 15px !important;
  }

  dd{
    margin-bottom: 10px;
  }

  dt{
    font-weight: bold;
  }

  .page-title{
    font-size: 22px;
    font-weight: bold;
    color: black;
  }

</style>