<%= image_tag("Alexis.jpg",align:"right",height:"200",width:'250') %><br><br>
<li><b>Name:</b> Alexis </li><br>
<li><b>Age:</b> 20</li> <br>
<li><b>Occupation:</b> Student at SERD.</li><br>
<li><b>Marital Status:</b> Single </li><br>
<li><b>Housing situation:</b> Living with his parents.</li><br>
<li><b>Income :</b> less than 500$ </li> <br>
<li><b>Short-term goal:</b> Complete UG with a good grade.</li><br>
<li><b>Long-term goal:</b> Establish his own marketing firm.</li><br>
<li><b>Immediate questions:</b> How to create an event? Is anyone interested in a collaborative event? </li><br>
<li><b>Computer:</b> Intel core i5 running Windows 10. Reads email nearly every day. Comfortable in Windows, some experience with Ubuntu from graduate school</li> <br>
<li><b>Other interests:</b> Novels, Cooking, Badminton.</li> <br>
