
<%= image_tag("Ananth.jpg",align:"right",height:"200",width:'250') %><br><br>
<li><b>Name:</b> Ananth </li><br>
<li><b>Age:</b> 33</li> <br>
<li><b>Occupation:</b> Faculty at SERD.</li><br>
<li><b>Marital Status:</b>Married with two children. </li><br>
<li><b>Housing situation:</b>Living with his spouse and two children.</li><br>
<li><b>Income :</b> less than 1500$ </li> <br>
<li><b>Short-term goal:</b> To move into a new house.</li><br>
<li><b>Long-term goal:</b> To move into a high managerial position within the University.</li><br>
<li><b>Immediate questions:</b>  How many faculty related events are present? How can faculty register for the events?  </li><br>
<li><b>Computer:</b> An upto date system running Mac OS X.</li> <br>
<li><b>Other interests:</b>Writing, Singing.</li> <br>

