
<%= image_tag("sathwik.jpg",align:"right",height:"200",width:'250') %><br><br>
<li><b>Name:</b> Sathwik </li><br>
<li><b>Age:</b> 23</li> <br>
<li><b>Occupation:</b> Pursuing Ph.D in SET, SU President.</li><br>
<li><b>Marital Status:</b> Married </li><br>
<li><b>Housing situation:</b>Living with his spouse in a rented home.</li><br>
<li><b>Income :</b> less than 500$ </li> <br>
<li><b>Short-term goal:</b> Complete a successful defense of his thesis.</li><br>
<li><b>Long-term goal:</b> To move up to the role of a professor in the university.</li><br>
<li><b>Immediate questions:</b>  How do i only see the events related to Ph.D thesis? How do i differentiate non-academic events ?  </li><br>
<li><b>Computer:</b> An upto date system running Windows 7. Reads email nearly every day. Comfortable in Windows.</li> <br>
<li><b>Other interests:</b>Adventure sports, Tennis.</li> <br>

