.announcement-details {
  border-bottom: #d7d7d7 solid 1px;
  margin: 20px 0;
  padding-bottom: 2px;
}

.announcement-details p {
  margin: 0;
  font-size: 18px;
}

.announcement-time{
  font-size: 12px !important;
  color:#7C7C7C;
}

.announcement-details .form-group{
  margin-bottom: 10px;
}
