.upcoming-events{
  background: #E9EBEE;
  padding: 1px 10px 10px;
}

.side-block{
  background: #E9EBEE;
  padding-bottom: 10px;
  padding-top: 10px;
}

.event-details{
  background: #ffffff;
  padding: 10px;
}

.title{
  font-size: 20px;
  margin-top: 20px;
}

.side-block h4{
  border-bottom: 1px solid #e1e3e6;
}

.events-list{
  margin: 20px 0 10px;
}
.events-list ul, .members-list ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.event-list ul li, .members-list ul li{
  margin-top: 5px;
}

.commitee-header h2{
  float: left;
}
.commitee-header a{
  float: right;
}